.playWithPerson {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;

    @media (max-width: 655px) {
        margin-top: 0;
    }

    .left-column {
        font-size: 26px;
        color: #fff;
        text-align: center;

        .players_score {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 5px;
            margin-bottom: 10px;
            
            @media (max-width: 490px) {
                flex-direction: column;
            }

            .player-score {
                margin-right: 10px;

                &:last-child {
                    margin-right: 0;
                }

                span {
                    margin-left: 10px;
                }

                @media (max-width: 490px) {
                    margin-right: 0;
                }
            }
        }
        
        @media (max-width: 375px) {
            font-size: 24px;
        }

        @media (max-width: 320px) {
            font-size: 24px;
        }
    }

    .right-column {
        .gameField {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            max-width: 500px;
    
            .cell {
                text-transform: uppercase;
                font-size: 120px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 150px;
                height: 150px;
                border: 4px solid #3C3B61;
                user-select: none;
                cursor: pointer;

                &.color-red {
                    color: #ee231e;
                }

                @media (max-width: 490px) {
                    width: 120px;
                    height: 120px;
                    font-size: 100px;
                }

                @media (max-width: 400px) {
                    width: 105px;
                    height: 105px;
                    font-size: 90px;
                }
                
                @media (max-width: 355px) {
                    width: 85px;
                    height: 85px;
                    font-size: 70px;
                }
            }
        }
    
        .replay {
            display: block;
            cursor: pointer;
            font-size: 18px;
            margin: auto;
            margin-top: 10px;
            border: 2px solid #3c3b61;
            color: #fff;
            border-radius: 5px;
            background: transparent;
            padding: 5px 10px;
        }
    }
}